<!-- Start: Social Network -->
<section class="social-network section-padding">
    <div class="container">
        <div class="center-content">
            <h2 class="section-title">Follow Us</h2>
            <span class="underline center"></span>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </div>
        <ul>
            <li>
                <a class="facebook" href="#" target="_blank">
                    <span>
                        <i class="fa fa-facebook-f"></i>
                    </span>
                </a>
            </li>
            <li>
                <a class="twitter" href="#" target="_blank">
                    <span>
                        <i class="fa fa-twitter"></i>
                    </span>
                </a>
            </li>
            <!-- <li>
            <a class="google" href="#" target="_blank">
              <span>
                <i class="fa fa-google-plus"></i>
              </span>
            </a>
          </li> -->
            <!-- <li>
                        <a class="rss" href="#" target="_blank">
                            <span>
                                <i class="fa fa-rss"></i>
                            </span>
                        </a>
                    </li> -->
            <li>
                <a class="linkedin" href="#" target="_blank">
                    <span>
                        <i class="fa fa-linkedin"></i>
                    </span>
                </a>
            </li>
            <li>
                <a class="youtube" href="#" target="_blank">
                    <span>
                        <i class="fa fa-youtube"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>
<!-- End: Social Network -->

<!-- Start: Footer -->
<footer class="site-footer">
    <div class="container">
        <div id="footer-widgets">
            <div class="row">
                <div class="col-md-4 col-sm-6 widget-container">
                    <div id="text-2" class="widget widget_text">
                        <h3 class="footer-widget-title">About Computer Library</h3>
                        <span class="underline left"></span>
                        <div class="textwidget">
                            It is a long established fact that a reader will be distracted
                            by the readable content of a page when looking.
                        </div>
                        <address>
                            <div class="info">
                                <i class="fa fa-location-arrow"></i>
                                <span>404 Computer Science department, Abuja building,
                                    UNN</span>
                            </div>
                            <div class="info">
                                <i class="fa fa-envelope"></i>
                                <span><a href="mailto:support@libraria.com">support@computerlib.com</a></span>
                            </div>
                            <div class="info">
                                <i class="fa fa-phone"></i>
                                <span><a href="tel:012-345-6789">+234-806-345-6789</a></span>
                            </div>
                        </address>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 widget-container">
                    <div id="nav_menu-2" class="widget widget_nav_menu">
                        <h3 class="footer-widget-title">Quick Links</h3>
                        <span class="underline left"></span>
                        <div class="menu-quick-links-container">
                            <ul id="menu-quick-links" class="menu">
                                <li><a href="/">Home</a></li>
                                <li><a href="#">Books</a></li>
                                <li><a href="#">Specialization</a></li>
                                <li><a href="/auth">Sign In</a></li>
                                <li><a href="/auth">Publish</a></li>
                                <li><a href="#">Meet Our Staff</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix hidden-lg hidden-md hidden-xs tablet-margin-bottom"></div>
                <div class="col-md-2 col-sm-6 widget-container">
                    <div id="text-4" class="widget widget_text">
                        <h3 class="footer-widget-title">Timing</h3>
                        <span class="underline left"></span>
                        <div class="timming-text-widget">
                            <time datetime="2017-02-13">Mon - Thu: 8 am - 4 pm</time>
                            <time datetime="2017-02-13">Fri: 9 am - 2 pm</time>
                            <!-- <ul>
                                        <li><a href="#">Closings</a></li>
                                        <li><a href="#">Branches</a></li>
                                    </ul> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 widget-container">
                    <div class="widget twitter-widget">
                        <h3 class="footer-widget-title">Latest Published</h3>
                        <span class="underline left"></span>
                        <div>
                            <ul>
                                <li>
                                    <p>
                                        <a href="#">Latest published list</a> Sed ut
                                        perspiciatis unde omnis iste natus error sit voluptatem.
                                        <a href="#">Read more</a>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <a href="#">Libraria</a> Sed ut perspiciatis unde omnis
                                        iste natus error sit voluptatem.
                                        <a href="#">Read More</a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="footer-text col-md-3">
                    <p><a target="_blank" href="#">Computer Library</a></p>
                </div>
                <div class="col-md-9 pull-right">
                    <ul>
                        <li><a href="index-2.html">Home</a></li>
                        <li><a href="books-media-list-view.html">Books</a></li>
                        <li><a href="specialization">Specialization</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End: Footer -->