
    <header id="header-v1" class="navbar-wrapper">
      <div class="container">
        <div class="row">
          <nav class="navbar navbar-default">
            <div class="row">
              <div class="col-md-3">
                <div class="navbar-header">
                  <div class="navbar-brand">
                    <h1>
                      <a href="/">
                        <img src="/images/libraria-logo-v1.png" alt="LIBRARIA" />
                      </a>
                    </h1>
                  </div>
                </div>
              </div>
              <div class="col-md-9">
                {{!-- <!-- Header Topbar --> --}}
                <div class="header-topbar hidden-sm hidden-xs">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="topbar-info">
                        <a href="tel:+61-3-8376-6284"
                          ><i class="fa fa-phone"></i>+234-80-8376-6284</a
                        >
                        <span>/</span>
                        <a href="mailto:support@libraria.com"
                          ><i class="fa fa-envelope"></i
                          >support@computerlib.com</a
                        >
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="topbar-links">
                        <a href="/auth"
                          ><i class="fa fa-lock"></i>Login / Register</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="navbar-collapse hidden-sm hidden-xs">
                  <ul class="nav navbar-nav">
                    <li class="dropdown active">
                      <a
                        data-toggle="dropdown"
                        class="dropdown-toggle disabled"
                        href="/"
                        >Home</a
                      >
                    </li>
                    <li class="dropdown">
                      <a
                        data-toggle="dropdown"
                        class="dropdown-toggle disabled"
                        href="/books"
                        >Books</a
                      >
                    </li>
                    
                    <li class="dropdown">
                      <a
                        data-toggle="dropdown"
                        class="dropdown-toggle disabled"
                        href="/specialization"
                        >Specialization</a
                      >
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/authspec?specialization=Artificial%20Intelligence%20(AI)">Artificial Intelligence (AI)</a>
                        </li>
                        <li>
                            <a href="/authspec?specialization=Algorithms%20and%20Data%20Structures">Algorithms and Data Structures</a>
                        </li>
                        <li>
                            <a href="/authspec?specialization=Computer%20Architecture">Computer Architecture</a>
                        </li>
                        <li>
                            <a href="/authspec?specialization=Computer%20Graphics">Computer Graphics</a>
                        </li>
                        <li><a href="/authspec?specialization=Cybersecurity">Cybersecurity</a></li>
                        <li><a href="/authspec?specialization=Database%20Systems">Database Systems</a></li>
                        <li><a href="/authspec?specialization=Machine%20Learning">Machine Learning</a></li>
                        <li>
                            <a href="/authspec?specialization=Mobile%20App%20Development">Mobile App Development</a>
                        </li>
                        <li><a href="/authspec?specialization=Networks">Networks</a></li>
                        <li>
                            <a href="/authspec?specialization=Operating%20Systems">Operating Systems</a>
                        </li>
                        <li><a href="/authspec?specialization=Robotics">Robotics</a></li>
                        <li>
                            <a href="/authspec?specialization=Software%20Engineering">Software Engineering</a>
                        </li>
                    </ul>
                    </li>
                    <li><a href="/auth">Sign In</a></li>
                    <li><a href="/publish">Publish</a></li>
                    <li><a href="/contact">Contact</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="mobile-menu hidden-lg hidden-md">
              <a href="#mobile-menu"><i class="fa fa-navicon"></i></a>
              <div id="mobile-menu">
                <ul>
                  <li class="mobile-title">
                    <h4>Navigation</h4>
                    <a href="#" class="close"></a>
                  </li>
                  <li>
                    <a href="/">Home</a>
                    
                  </li>
                  <li>
                    <a href="/books">Books</a>
                  </li>
                  <li>
                    <a href="#">Specialization</a>
                    <ul>
                      <li>
                        <a href="#">Artificial Intelligence (AI)</a>
                      </li>
                      <li>
                        <a href="#"
                          >Algorithms and Data Structures</a
                        >
                      </li>
                      <li>
                        <a href="#">Computer Architecture</a>
                      </li>
                      <li><a href="#">Computer Graphics</a></li>
                      <li><a href="#">Cybersecurity</a></li>
                      <li><a href="#">Database Systems</a></li>
                      <li><a href="#">Machine Learning</a></li>
                      <li>
                        <a href="#">Mobile App Development</a>
                      </li>
                      <li><a href="#">Networks</a></li>
                      <li><a href="#">Operating Systems</a></li>
                      <li><a href="#">Robotics</a></li>
                      <li>
                        <a href="#">Software Engineering</a>
                      </li>
                    </ul>
                  </li>
                  <li><a href="/auth">Sign In</a></li>
                  <li><a href="/auth">Publish</a></li>
                  <li><a href="/contact">Contact</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>