<!-- Start: Page Banner -->
<section class="page-banner services-banner">
    <div class="container">
        <div class="banner-header">
            <h2>Specialization</h2>
            <span class="underline center"></span>
            <p class="lead">The various specialization in computer science we have in our
            library.</p>
        </div>
        <div class="breadcrumb">
            <ul>
                <li><a href="/">Home</a></li>
                <li>Specialization</li>
            </ul>
        </div>
    </div>
</section>
<!-- End: Page Banner -->

<!-- Start: Features -->
<section class="features">
    <div class="container">
        <ul>
            <li class="bg-yellow">
                <div class="feature-box">
                    <i class="yellow"></i>
                    <h3>Artificial Intelligence (AI)</h3>
                    <p>Creating intelligent machines and systems.</p>
                    <a class="yellow" href="/authspec?specialization=Artificial%20Intelligence%20(AI)">
                        View Selection <i class="fa fa-long-arrow-right"></i>
                    </a>
                </div>
            </li>
            <li class="bg-light-green">
                <div class="feature-box">
                    <i class="light-green"></i>
                    <h3>Algorithms and Data Structures</h3>
                    <p>Efficient problem-solving techniques and data organization.</p>
                    <a class="light-green" href="/authspec?specialization=Algorithms%20and%20Data%20Structures">
                        View Selection <i class="fa fa-long-arrow-right"></i>
                    </a>
                </div>
            </li>
            <li class="bg-blue">
                <div class="feature-box">
                    <i class="blue"></i>
                    <h3>Computer Architecture</h3>
                    <p>Designing and organizing computer systems.</p>
                    <a class="blue" href="/authspec?specialization=Computer%20Architecture">
                        View Selection <i class="fa fa-long-arrow-right"></i>
                    </a>
                </div>
            </li>
            <li class="bg-red">
                <div class="feature-box">
                    <i class="red"></i>
                    <h3>Computer Graphics</h3>
                    <p>Creating visual images and animations.</p>
                    <a class="red" href="/authspec?specialization=Computer%20Graphics">
                        View Selection <i class="fa fa-long-arrow-right"></i>
                    </a>
                </div>
            </li>
            <li class="bg-violet">
                <div class="feature-box">
                    <i class="violet"></i>
                    <h3>Cybersecurity</h3>
                    <p>Protecting computer systems and networks from threats.</p>
                    <a class="violet" href="/authspec?specialization=Cybersecurity">
                        View Selection <i class="fa fa-long-arrow-right"></i>
                    </a>
                </div>
            </li>
            <li class="bg-green">
                <div class="feature-box">
                    <i class="green"></i>
                    <h3>Database Systems</h3>
                    <p>Storing, managing, and retrieving structured data.</p>
                    <a class="green" href="/authspec?specialization=Database%20Systems">
                        View Selection <i class="fa fa-long-arrow-right"></i>
                    </a>
                </div>
            </li>
            <li class="bg-yellow">
                <div class="feature-box">
                    <i class="yellow"></i>
                    <h3>Machine Learning</h3>
                    <p>Developing algorithms that improve with experience.</p>
                    <a class="yellow" href="/authspec?specialization=Machine%20Learning">
                        View Selection <i class="fa fa-long-arrow-right"></i>
                    </a>
                </div>
            </li>
            <li class="bg-light-green">
                <div class="feature-box">
                    <i class="light-green"></i>
                    <h3>Mobile App Development</h3>
                    <p>Creating software applications for mobile devices.</p>
                    <a class="light-green" href="/authspec?specialization=Mobile%20App%20Development">
                        View Selection <i class="fa fa-long-arrow-right"></i>
                    </a>
                </div>
            </li>
            <li class="bg-blue">
                <div class="feature-box">
                    <i class="blue"></i>
                    <h3>Networks</h3>
                    <p>Designing and managing computer communication systems.</p>
                    <a class="blue" href="/authspec?specialization=Networks">
                        View Selection <i class="fa fa-long-arrow-right"></i>
                    </a>
                </div>
            </li>
            <li class="bg-red">
                <div class="feature-box">
                    <i class="red"></i>
                    <h3>Operating Systems</h3>
                    <p>Core software for computer hardware management.</p>
                    <a class="red" href="/authspec?specialization=Operating%20Systems">
                        View Selection <i class="fa fa-long-arrow-right"></i>
                    </a>
                </div>
            </li>
            <li class="bg-violet">
                <div class="feature-box">
                    <i class="violet"></i>
                    <h3>Robotics</h3>
                    <p>Designing and operating autonomous mechanical systems.</p>
                    <a class="violet" href="/authspec?specialization=Robotics">
                        View Selection <i class="fa fa-long-arrow-right"></i>
                    </a>
                </div>
            </li>
            <li class="bg-green">
                <div class="feature-box">
                    <i class="green"></i>
                    <h3>Software Engineering</h3>
                    <p>Designing, developing, and maintaining software systems.</p>
                    <a class="green" href="/authspec?specialization=Software%20Engineering">
                        View Selection <i class="fa fa-long-arrow-right"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- End: Features -->